* {
    font-family: "Rubik", sans-serif;
}

body {
    height: 630px;
    width: 99%;
    background: whitesmoke;
    background-image: linear-gradient(to right, whitesmoke, white, whitesmoke);
    overflow: hidden;
}

#bookStore {
    height: 600px;
    width: 250px;
    display: inline-block;
    overflow: hidden;
    /* overflow-y: scroll; */
    margin-top: 10px;
    background: white;
    border-top: 10px solid rgba(85, 107, 47, 0.747);
    margin: 8px;
}

/* #bookStore::-webkit-scrollbar-thumb {
    background-color: silver;
}

#bookStore::-webkit-scrollbar {
    width: 12px;
   
}

#bookStore::-webkit-scrollbar-track {
    background: white;
  
} */

#ourBooks1, #ourBooks2, #ourBooks3, #ourBooks4, #ourBooks5 {
    height: 120px;
    width: 250px;
    border: 1px solid whitesmoke;
    display: block;
    overflow: hidden;
}

#mybookImage1, #mybookImage2, #mybookImage3, #mybookImage4, #mybookImage5{
    height: 120px;
    width: 250px;
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
    display: blockk;
}

img{
    height: 120px;
    width: 80px;
    background-repeat: no-repeat;
    margin-left: calc(170px / 2);
    overflow: hidden;
    margin-top: 0px;
}

#basket1 img, #basket2 img{
    height: 120px;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 80px;
    margin-left: 34%;
    padding-top: 0px;
    overflow: hidden;
}

#bookImage1 {
    height: 120px;
    width: 250px;
    background-image: url('https://i.pinimg.com/474x/f7/c8/12/f7c812c9b0296cd9f119e33a06d9a256.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
}

#bookImage2 {
    height: 120px;
    width: 250px;
    background-image: url('https://images-eu.ssl-images-amazon.com/images/I/41gr3r3FSWL._SX342_SY445_QL70_ML2_.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
}

#bookImage3 {
    height: 120px;
    width: 250px;
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/contemporary-fiction-night-time-book-cover-design-template-1be47835c3058eb42211574e0c4ed8bf_screen.jpg?ts=1594616847');
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
}

#bookImage4 {
    height: 120px;
    width: 250px;
    background-image: url('https://d1csarkz8obe9u.cloudfront.net/posterpreviews/ocean-themed-mystery-book-cover-design-template-106e0bde0f3b02fcf67355c98fcaebcc_screen.jpg?ts=1588747771');
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
}

#bookImage5 {
    height: 120px;
    width: 250px;
    background-image: url('https://thebookcoverdesigner.com/wp-content/uploads/2017/02/deep-water.jpg');
    background-repeat: no-repeat;
    overflow: hidden;
    margin-left: auto;
    background-size: contain;
    background-position: center;
}

#bookShelf {
    height: 600px;
    width: 700px;
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    background-color: rgb(184, 87, 18);
    border-top: 20px solid rgb(173, 76, 6);
    border-right: 20px solid rgb(209, 96, 14);
    border-left: 20px solid rgb(209, 96, 14);
    border-bottom: 5px solid rgb(184, 87, 18);
}

#shelf {
    height: 185px;
    width: 171.9px;
    background-color: saddlebrown;
    background-image: linear-gradient(to right, saddlebrown, rgba(221, 99, 11, 0.459), rgba(139, 69, 19, 0.281));
    overflow: hidden;
    display: inline-block;
    border-bottom: 10px solid saddlebrown;
}

#shelf1, #shelf2, #shelf3, #shelf4, #shelf5, #shelf6, #shelf7, #shelf8, #shelf9, #shelf10, #shelf11, #shelf12 {
    height: 120px;
    width: 250px;
    margin-left: -40px;
    overflow: hidden;
    display: inline-block;
    margin-top: -5px;
    background-position: center;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

#borrow {
    height: 600px;
    width: calc(1330px - 700px - 310px);
    display: inline-block;
    overflow: hidden;
    margin-top: 10px;
    background: white;
    border-top: 10px solid darkolivegreen;
    margin: 8px;
    font-family: "Rubik", sans-serif;
}

#basket {
    height: 200px;
    width: calc(1330px - 700px - 310px);
    border: 1px solid whitesmoke;
}

#basket1, #basket2{
    height: 200px;
    margin-top: 0px;
    width: 240px;
    margin-left: 70px;
    overflow: hidden;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 0px;
}

#confirm {
    margin-top: 40px;
    padding: 15px;
    width: 100px;
    margin-left: 110px;
    color: white;
    background-color: darkolivegreen;
    border: none;
    font-size: 15px;
    border-radius: 25px;
    font-weight: 600;
}

#printBook{
    height: 560px;
    width: 300px;
    border: none;
    overflow: hidden;
}

#printParent{
    height: 490px;
    width: 290px;
    margin-top: 10px;
    overflow: hidden;
    border: 1px solid aliceblue;
}

#printBtn{
    margin-top: 15px;
    background-color: darkolivegreen;
    color: white;
    font-family: 'Rubik', sans-serif;
    border: none;
    padding: 5px;
    margin-left: 0px;
}

#printBtn:hover{
    cursor: pointer;
}

#firstWrap{
    width: 290px;
    height: 200px;
    background-color: aliceblue;
}

#secondWrap{
    width: 290px;
    height: 200px;
    background-color: whitesmoke;
}

#myDetails, #myDetails2{
    width: 110px;
    height: 150px;
    display: inline-block;
    margin-top: 0px;
    overflow: hidden;
}

#myh5, #myh52{
    font-size: 13px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: darkolivegreen;
}

#myPara, #myPara2{
    font-size: 13px;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: darkolivegreen;
}

#firstPrint{
    width: 240px;
    height: 200px;
    margin-left: -80px;
    overflow: hidden;
    margin-top: 0px;
    display: inline-block;
}

#secondPrint{
    width: 240px;
    height: 200px;
    margin-left: -80px;
    overflow: hidden;
    display: inline-block;
}

#printParagraph, #orderNumber{
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
    color: darkolivegreen;
    font-weight: 700;
    text-align: center;
}

#closeBtn{
    color: darkolivegreen;
    font-size: 15px;
    font-weight: 700;
    margin-left: 90%;
    background-color: white;
    border: none;
}

#closeBtn:hover{
    cursor: pointer;
}

a{
    color: white;
    text-decoration-line: none;
}
